* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #F5F5DC;
    color: #131313;
}

section {
    margin: 70px 0;
}

p {
    font-size: 18px;
    font-weight: 400;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 36px;
    font-weight: 700;
}

h3 {
    font-size: 24px;
    font-weight: 600;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.8;
    transition: 0.3s;
}

.container {
    width: 80%;
    margin: auto;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.nav-list a {
    font-size: 18px;
    font-weight: 700;
    color: #131313;
    transition: 0.3s;
    
}

.nav-list a:hover {
    color: rgb(23, 119, 54);
    
    transition: 0.3s;
}

.main-top {
     display: flex;
     align-items: start;
}

.main-top p {
    line-height: 1.5;
}

.main-top img {
    width: 150px;
    height: 150px;
    margin-right: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.contacts img {
     max-width: 20px;
     margin-right: 10px;

}

.contacts-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contacts p {
    display: flex;
    align-items: center;
    width: 50%;
}

.contacts p a {
    padding: 0 10px;
    color: rgb(23, 119, 54);
}



.education-list,
.experience-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}

.education-item,
.experience-item {
    width: 50%;
}

.skills-wrapper {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     row-gap: 30px;
}

.skills-block {
     width: 30%;
     padding:  20px;
     border: 3px solid rgb(23, 119, 54);
     border-radius: 10px;
}

.skills-item {
    position: relative;
    padding: 15px 0px 15px 40px;
    font-size: 18px;
    
}

.skills-item::before {
    content: url('../img/check.svg');
    position: absolute;
    left: 0;
    top: 10px;
}

.skills-block h3 {
    text-align: center;
    margin-top: 0;
}

.portfolio-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
}

.portfolio-item {
    width: 48%;
    border: 1px solid rgb(23, 119, 54);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio-item h3,
.portfolio-item p {
    text-align: center;
}

.portfolio-item img {
    width: 100%;
   
}

.portfolio-info {
    padding: 10px 30px 30px;
}

.buttons-block {
    display: flex;
    justify-content: space-between;
}

.buttons-block a {
    display: block;
    width: fit-content;
    padding: 10px 30px;
    font-weight: 700;
    text-align: center;
    color: rgb(23, 119, 54);
    border: 3px solid rgb(23, 119, 54);
    border-radius: 10px;
    
}


.footer {
    padding: 30px 0;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer p {
    display: flex;
    align-items: center;
}

.footer p a {
    display: block;
    margin: 0 10px;
    color: rgb(23, 119, 54);
}

.footer p img {
    width: 100px;
    
}